*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f8f9fa;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.hole {
    width: 100px;
    height: 100px;
    background-color:gray;
    margin: 5px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.mole {
    width: 80px;
    height: 80px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
